<div class="form-card">
    <mat-card class="mat-card">
      <mat-card-header class="header">
        <mat-card-title class="font-title-m">View Ticket</mat-card-title>
      </mat-card-header>
      <div class="form wrap">

        <mat-card-content class="content">

            <div class="inputs">
              <p>Inbound: {{viewTicketData.inbound}}</p>
            </div>

            <div class="inputs">
              <p>Outbound: {{viewTicketData.outbound}}</p>
            </div>

            <div class="inputs">
                <p>Ticket type: {{viewTicketData.ticketType}}</p>
              </div>
            
            <div class="inputs">
                <p>Price: {{viewTicketData.price}}$</p>
            </div>  
        

            <div class="inputs">
              <p>From Date: {{viewTicketData.fromDate.toDate().toDateString()}}</p>
              </div>
              
            
              <div class="inputs">
                <p>To Date: {{viewTicketData.toDate.toDate().toDateString()}}</p>
              </div>


              <div class="inputs">
                <p>Seat Number: {{viewTicketData.seatNumber}}</p>
              </div>
          </mat-card-content>          
        </div>
    </mat-card>
</div>