<div class="form-card">
    <mat-card class="mat-card">
      <mat-card-header class="header">
        <mat-card-title class="font-title-m">Create Ticket</mat-card-title>
      </mat-card-header>
      <form class="form" >

        <mat-card-content class="content">

            <mat-form-field class="inputs">
              <mat-label>Inbound</mat-label>
              <input type="text" class="form-control" matInput>
    
            </mat-form-field>

            <mat-form-field class="inputs">
              <mat-label>Outbound</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field class="inputs">
                <mat-label>Select ticket type</mat-label>
                <mat-select formControlName="ticketType">
                  <mat-option value="firstClass">First Class</mat-option>
                  <mat-option value="bussinessClass">Bussiness Class</mat-option>
                  <mat-option value="economyClass">Economy Class</mat-option>
                </mat-select>
              </mat-form-field>
            
            <mat-form-field class="inputs">
                <mat-label>Price</mat-label>
                <input matInput type="number">
            </mat-form-field>  
        

            <mat-form-field class="inputs">
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="fromPicker" >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
              </mat-form-field>
              
            
              <mat-form-field class="inputs">
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="toPicker" >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
              </mat-form-field>


              <mat-form-field class="inputs">
                <mat-label>Seat Number</mat-label>
                <input matInput>
              </mat-form-field>
          </mat-card-content>          
      </form>
    </mat-card>
</div>